<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<!-- If you delete this meta tag, Half Life 3 will never be released. -->
	<meta name="viewport" content="width=device-width"/>

	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
	<title>Registered</title>

	<!-- Note: email wants it's css to be inline. We put it through an inliner. -->
	<!-- inliner: http://premailer.dialect.ca/ -->
	<!-- 	settings: + remove classes, + remove unused ids, + remove comments -->
	<!-- Post process cleanup: leaves trailing newlines (&13;).  Benign but removing them anyway -->
	<style type="text/css">
		/* Global and Elements */
		* {
			margin: 0;
			padding: 0;
		}

		body {
			-webkit-font-smoothing: antialiased;
			-webkit-text-size-adjust: none;
			width: 100% !important;
			height: 100%;
			color: #665f56;
			background-color: #efede7;
		}

		ul, ol {
			list-style: none;
		}

		ul li {
			display: inline-block;
			margin-left: 6px;
			margin-right: 6px;
		}

		/* TYPOGRAPHY */
		p, a {
			font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
		}

		h1, h2, h3, h4, h5, h6 {
			font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
			line-height: 1.1;
			margin-bottom: 15px;
		}

		a {
			text-decoration: none;
			color: #008acd;
		}

		h1, h2, h3, h4, h5, h6 {
			font-weight: 600;
			font-size: 14px;
		}

		p {
			margin-bottom: 10px;
			font-weight: normal;
			font-size: 14px;
			line-height: 1.5;
		}

		/* BODY */
		body div {
			margin: 18px 22px;
		}

		table.body-wrap {
			width: 100%;
		}

		.body-wrap .container {
			background-color: #ffffff;
			border-radius: 6px;
		}

		/* FOOTER */
		table.footer-wrap {
			width: 100%;
			clear: both !important;
		}

		.footer-wrap .container td.content  p {
			border-top: 1px solid rgb(215, 215, 215);
			padding-top: 15px;
		}

		.footer-wrap a {
			font-size: 14px;
			font-weight: bold;
			color: #aaa28c;
		}

		/* RESPONSIVENESS */
		/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a mobile device */
		.container {
			display: block !important;
			max-width: 600px !important;
			margin: 0 auto !important; /* makes it centered */
			clear: both !important;
		}

		/* This should also be a block element, so that it will fill 100% of the .container */
		.content {
			padding: 15px;
			max-width: 600px;
			margin: 0 auto;
			display: block;
		}

		/* Let's make sure tables in the content area are 100% wide */
		.content table {
			width: 100%;
		}

		/* Be sure to place a .clear element after each set of columns, just to be safe */
		.clear {
			display: block;
			clear: both;
		}

		/* Mobile: For clients that support media queries. Nothing fancy. */
		@media only screen and (max-width: 600px) {
			div[class="column"] {
				width: auto !important;
				float: none !important;
			}
		}
	</style>

	<!-- This is left here for testing changes. It gets stripped out by the generator -->
	<link rel="stylesheet" type="text/css" href="css/email.css"/>

</head>

<body>
	<div>
		<!-- table: body -->
		<table class="body-wrap">
			<tr>
				<td></td>
				<td class="container">

					<div class="content">
						<table>
							<tr> <td>
								<h3>Dear {{ username }},</h3>

								<p>To complete your Goggles registration you must activate your account. Please click
									<a href="http://{{ site.domain }}/profile/activate/{{ activation_key }}">here</a> to complete the process.</p>
								<p>If the above link does not work, you can complete your registration by copying the following URL into your browser:
									http://{{ site.domain }}/profile/activate/{{ activation_key }}</p>
								<p>Please note - you must complete this last step to become an active member. This link will expire in {{ expiration_days }} days.</p>
								<br/>
								<p>We look forward to having you as an active member of Goggles,</p>
								<p>Xraymen</p>

							</td> </tr>
						</table>
					</div>

				</td>
				<td></td>
			</tr>
		</table>

		<!-- footer -->
		<table class="footer-wrap">
			<tr>
				<td></td>
				<td class="container">

					<div class="content">
						<table>
							<tr> <td align="center">
								<ul>
									<li><a href="http://xraymen.com/index.html">XRAYMEN</a></li>
									<li><a href="http://xraymen.com/terms.html">Terms</a></li>
									<li><a href="http://xraymen.com/privacy.html">Privacy</a></li>
									<li><a href="http://xraymen.com/support.html">Support</a></li>
								</ul>
							</td> </tr>
						</table>
					</div>

				</td>
				<td></td>
			</tr>
		</table>

	</div>
</body>
</html>
