{% extends "admin/base_site.html" %}
{% load i18n admin_static admin_list %}

{% block extrastyle %}
<style type="text/css">
  #content {margin: 0px 0px }
</style>
{% endblock %}
{% block extrahead %}
<script type="text/javascript" src="/static/admin/js/jquery.min.js"></script>
<script type="text/javascript" src="/static/admin/js/jquery.init.js"></script>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBkDdCyuv13H1neWCnksIJxNGaJeUwG6uc&sensor=false&libraries=geometry">    </script>
<script type="text/javascript">

var $ = $ || django.jQuery;

//Namespace
var xraymen = xraymen || {};
xraymen.goggles = xraymen.goggles || {};
xraymen.goggles.map = xraymen.goggles.map || {};

xraymen.goggles.map = (function() {

  var _googleMap = null;
  var _messageMarkers = {};
  var _circle = new google.maps.Circle({
    fillColor: "#FF0000",
    fillOpacity: .05,
    strokeColor: "#0000FF",
    strokeWidth: 1,
    strokeOpacity: .25
  });
  var _radius = 0;
  var _requester = new RequestScheduler(_requestMessages, 2000);

  /**
  * Private init function.
  */
  function _init(id, options) {

    options = options || {};
    var zoom = options.zoom || 14;
    var lat = options.lat || 37.8101358;
    var lon = options.lon || -122.255287;
  
    var mapOptions = {
      center: new google.maps.LatLng(lat, lon),
      zoom: zoom,
      mapTypeId: google.maps.MapTypeId.ROADMAP
    };

    _googleMap = new google.maps.Map(document.getElementById(id), mapOptions);
    
    //idle event is triggered when map is done with zoom or pan.
    google.maps.event.addListener(_googleMap, 'idle', function(e) {

      //Compute new radius and update the radius overlay
      _radius = _getRadius();
      _circle.setRadius(_radius);
      _circle.setCenter(_googleMap.getCenter());
      _circle.setMap(_googleMap);
      //Get new messages.
      _requester.request();
    });
  }
  
  /**
  * Get radius. 
  **/
  function _getRadius() {
    var bounds = _googleMap.getBounds();
    var center = _googleMap.getCenter();
    
    //We want the shortest distance from an edge of the screen to the center. 
    
    //North to center
    var radius = google.maps.geometry.spherical.computeDistanceBetween(
      new google.maps.LatLng(bounds.getNorthEast().lat(), center.lng()), 
      center);
   
    //South to center
    radius = Math.min(radius, google.maps.geometry.spherical.computeDistanceBetween(
      new google.maps.LatLng(bounds.getSouthWest().lat(), center.lng()), 
      center));
    
    //East to center
    radius = Math.min(radius, google.maps.geometry.spherical.computeDistanceBetween(
      new google.maps.LatLng(center.lat(), bounds.getNorthEast().lng()), 
      center));
    
    //West to center...probably redundant because distortion is only along latitude.
    radius = Math.min(radius, google.maps.geometry.spherical.computeDistanceBetween(
      new google.maps.LatLng(center.lat(), bounds.getSouthWest().lng()), 
      center));
      
    return radius;
  }

  /**
  * Request messages from server
  **/
  function _requestMessages() {
    if (!_googleMap) {
      return;
    }

    $.ajax({
      url: '/internal/admin/messages/get/json',
      dataType: 'json',
      type:'POST',
      data:JSON.stringify({"latitude":_googleMap.getCenter().lat(), "longitude":_googleMap.getCenter().lng(), "radius":_radius}), 
      success:function(data) {
      
        var newMessages = {};
      
        //Create new entries for new messages.
        for (var i in data.messages) {
          (function(message) {

            //Check if message already has a marker, if so we reuse it.
            if (_messageMarkers[message.id]) {
              newMessages[message.id] = _messageMarkers[message.id];
              return;
            }
            
            //Create an object to keep track of markers
            var newMessage = {
              message:message,
              marker: new google.maps.Marker({
                map: _googleMap,
                position: new google.maps.LatLng(message.latitude, message.longitude),
                title: message.text + " - " + message.ownerId
              })
            };
            
            

            var infoWindow = new google.maps.InfoWindow({
              content: _createInfoWindowContent(message)
            });
            
            newMessage.clickListener = google.maps.event.addListener(newMessage.marker, "click", function() {
              infoWindow.open(_googleMap, newMessage.marker);
            });
            
            newMessages[message.id] = newMessage;
            
          }(data.messages[i]));
        }
        
        //Remove old markers
        for (var i in _messageMarkers) {
          //If message id from _messageMarkers is not in newMessages, we remove that marker.
          if (!newMessages[i]) {
            _messageMarkers[i].marker.setMap(null);
            google.maps.event.removeListener(_messageMarkers[i].clickListener);
          }
        }
        
        //Update messages container
        _messageMarkers = newMessages;

      },
      failure:function(err) {
        console.log(err);
      }
    });
  }
  
  //Create the html for the info window shown when marker is clicked
  function _createInfoWindowContent(message) {
  
    //Attributes of message and the order they'll appear in the table.
    var attributes = ['text', 'ownerId', 'created', 'expiration', 'ratingLikes', 'ratingDislikes', 'id', 'type'];

    var contentString = '<div>';
    contentString += '<table>';
    for (var i in attributes) {
      var val = message[attributes[i]];
      if (val) {
        contentString += '<tr><td>' + attributes[i] + '</td><td>' + val + '</td></tr>'
      }
    }
    contentString += '</table></div>';

    return contentString;
  }
  
  //Object which will batch requests. If 'request' is called more often than 'minTime', a timer will
  //be set to delay the call. We don't want every pan, zoom, and drag of the map to produce an
  //ajax request. 
  function RequestScheduler(requestFunc, minTime) {
    this._minTime = minTime;
    this._lastRequestTime = 0;
    this._requestFunc = requestFunc;
    this._timer = null;
    this._scheduleRequest = function() {
      var self = this;
      self._timer = setTimeout(function() {
          self._timer = null;
          self._lastRequestTime = new Date().getTime();
          self._requestFunc();
        }, minTime);    
    };

    this.request = function () {
      var self = this;

      if (self._timer != null) {
        //Timer is already set. Cancel it and set a new one.
        clearTimeout(self._timer);
        self._scheduleRequest();
      } else {
        var now = new Date().getTime();
        if ((now - self._lastRequestTime) < minTime) {
          self._scheduleRequest();        
        } else {
          self._lastRequestTime = now;
          self._requestFunc();
        }
      }
    };
  }

  //Return the public interface
  return {
    init : _init
  };
  
} ());

$(document).ready(function() {

  //Try to get current location from the browser.
  if (navigator && navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(
      //Callback on successful position acquisition
      function(pos) {
        initMap({
          lat: pos.coords.latitude, 
          lon: pos.coords.longitude
        });
      },
      //Callback on error.
      function(err) {
        console.log(err);
        initMap();
      });
  } else {
    initMap();
  }
  setMapHeight();
});

$(window).resize(function() {
   setMapHeight();
});

function initMap(options) {
    xraymen.goggles.map.init('map-canvas', options);
}

//
function setMapHeight() {
  //This is not the prettiest thing in the world. Understatement.
  var height = $(window).height() - $("#header").height() - 20/*$(".breadcrumbs")[0].height()*/;
  $("#map-canvas").height(height);
}


</script>
{% endblock %}
{% block content %}
<div id="map-canvas"/>
{% endblock %}
