/* Global and Elements */
* {
	margin: 0;
	padding: 0;
}

body {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: none;
	width: 100% !important;
	height: 100%;
	color: #665f56;
	background-color: #efede7;
}

ul, ol {
	list-style: none;
}

ul li {
	display: inline-block;
	margin-left: 6px;
	margin-right: 6px;
}

/* TYPOGRAPHY */
p, a {
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif;
	line-height: 1.1;
	margin-bottom: 15px;
}

a {
	text-decoration: none;
	color: #008acd;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: 600;
	font-size: 14px;
}

p {
	margin-bottom: 10px;
	font-weight: normal;
	font-size: 14px;
	line-height: 1.5;
}

/* BODY */
body div
{
	margin: 18px 22px;
}

table.body-wrap {
	width: 100%;
}

.body-wrap .container {
	background-color: #ffffff;
	border-radius: 6px;
}

/* FOOTER */
table.footer-wrap {
	width: 100%;
	clear: both !important;
}

.footer-wrap .container td.content  p {
	border-top: 1px solid rgb(215, 215, 215);
	padding-top: 15px;
}

.footer-wrap a {
	font-size: 14px;
	font-weight: bold;
	color: #aaa28c;
}

/* RESPONSIVENESS */

/* Set a max-width, and make it display as block so it will automatically stretch to that width, but will also shrink down on a mobile device */
.container {
	display: block !important;
	max-width: 600px !important;
	margin: 0 auto !important; /* makes it centered */
	clear: both !important;
}

/* This should also be a block element, so that it will fill 100% of the .container */
.content {
	padding: 15px;
	max-width: 600px;
	margin: 0 auto;
	display: block;
}

/* Let's make sure tables in the content area are 100% wide */
.content table {
	width: 100%;
}


/* Be sure to place a .clear element after each set of columns, just to be safe */
.clear {
	display: block;
	clear: both;
}

/* Mobile: For clients that support media queries. Nothing fancy. */
@media only screen and (max-width: 600px) {
	div[class="column"] {
		width: auto !important;
		float: none !important;
	}
}
