<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Warning</title>
  </head>
  <body style="margin: 0; -webkit-text-size-adjust: none; background-color: #efede7; color: #665f56; padding: 0; height: 100%; -webkit-font-smoothing: antialiased; width: 100% !important;" bgcolor="#efede7">
	<div style="margin: 18px 22px; padding: 0;">

		<table style="margin: 0; padding: 0; width: 100%;"><tr style="margin: 0; padding: 0;"><td style="margin: 0; padding: 0;"></td>
				<td style="max-width: 600px !important; clear: both !important; margin: 0 auto; background-color: #ffffff; padding: 0; display: block !important; border-radius: 6px;" bgcolor="#ffffff">

					<div style="max-width: 600px; margin: 0 auto; padding: 15px; display: block;">
						<table style="margin: 0; padding: 0; width: 100%;"><tr style="margin: 0; padding: 0;"><td style="margin: 0; padding: 0;">
								<h3 style="font-size: 14px; font-weight: 600; line-height: 1.1; font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 0 15px; padding: 0;">Dear {{ user.username }},</h3>

								<p style="font-size: 14px; font-weight: normal; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">We have removed your recent post because it was flagged by our user community as inappropriate and violated our <a href="http://xraymen.com/terms.html" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #008acd; text-decoration: none; margin: 0; padding: 0;">Terms of Service</a>.</p>
								<p style="font-size: 14px; font-weight: normal; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">Please review our <a href="http://xraymen.com/terms.html" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; color: #008acd; text-decoration: none; margin: 0; padding: 0;">Terms of Service</a> to get more information regarding the types of
									messages that Goggles cannot accept.</p>
								<p style="font-size: 14px; font-weight: normal; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">Goggles strives to create an environment that is open to all. Goggles cannot allow offensive material to be posted. Please
									keep this in mind when posting. Continued inappropriate messages will be deleted and could lead to the cancellation of your
									account.</p>
								<p style="font-size: 14px; font-weight: normal; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">If you feel this was sent in error or have any questions, please feel free to reply to this email.</p>
								<br style="margin: 0; padding: 0;" /><p style="font-size: 14px; font-weight: normal; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">Regards,</p>
								<p style="font-size: 14px; font-weight: normal; line-height: 1.5; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0 0 10px; padding: 0;">Xraymen</p>

							</td> </tr></table></div>

				</td>
				<td style="margin: 0; padding: 0;"></td>
			</tr></table><table style="clear: both !important; margin: 0; padding: 0; width: 100%;"><tr style="margin: 0; padding: 0;"><td style="margin: 0; padding: 0;"></td>
				<td style="max-width: 600px !important; clear: both !important; margin: 0 auto; padding: 0; display: block !important;">

					<div style="max-width: 600px; margin: 0 auto; padding: 15px; display: block;">
						<table style="margin: 0; padding: 0; width: 100%;"><tr style="margin: 0; padding: 0;"><td align="center" style="margin: 0; padding: 0;">
								<ul style="margin: 0; padding: 0; list-style-type: none;"><li style="margin: 0 6px; padding: 0; display: inline-block;"><a href="http://xraymen.com/index.html" style="font-weight: bold; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0; color: #aaa28c; text-decoration: none;">XRAYMEN</a></li>
									<li style="margin: 0 6px; padding: 0; display: inline-block;"><a href="http://xraymen.com/terms.html" style="font-weight: bold; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0; color: #aaa28c; text-decoration: none;">Terms</a></li>
									<li style="margin: 0 6px; padding: 0; display: inline-block;"><a href="http://xraymen.com/privacy.html" style="font-weight: bold; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0; color: #aaa28c; text-decoration: none;">Privacy</a></li>
									<li style="margin: 0 6px; padding: 0; display: inline-block;"><a href="http://xraymen.com/support.html" style="font-weight: bold; font-size: 14px; font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; margin: 0; padding: 0; color: #aaa28c; text-decoration: none;">Support</a></li>
								</ul></td> </tr></table></div>

				</td>
				<td style="margin: 0; padding: 0;"></td>
			</tr></table></div>
</body>
</html>
